section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}
/* alfa channelは色だけ半透明 */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}
/* opacityは全要素半透明にする */
#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}